@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section_padding {
  padding: 100px 0;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-align: center;
  transition: 0.3s;
}
.btn.btn_box {
  background: orange;
  padding: 10px 30px;
  border-radius: 5px;
}
.btn.btn_box:hover {
  background: #cc8400;
}
.btn.btn_outline {
  border: 2px solid lightgray;
  padding: 8px 28px;
  border-radius: 5px;
}
.btn.btn_outline:hover {
  border-color: orange;
}
.btn.btn_text {
  border-bottom: 2px solid transparent;
  color: orange;
}
.btn.btn_text:hover {
  border-bottom: 2px solid orange;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.header_area {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  padding: 10px 0;
}
.header_area .navbar {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 30px;
  align-items: center;
}
.header_area .navbar .logo_box a {
  width: 100%;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.header_area .navbar .menu ul {
  display: flex;
  justify-content: end;
}
.header_area .navbar .menu li {
  margin-left: 30px;
}
.header_area .navbar .menu a {
  text-transform: capitalize;
  font-size: 18px;
  transition: 0.3s;
}
.header_area .navbar .menu a:hover {
  color: orange;
}

.banner_area {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.banner_area::before {
  content: "";
  display: table;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner_area .banner_text_box {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner_area .banner_text_box h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
.banner_area .banner_text_box h1 span {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.banner_area .banner_text_box .button_box {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.section_title {
  text-align: center;
}
.section_title span {
  display: block;
  font-size: 18px;
}
.section_title h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
}
.section_title h2::after {
  content: "";
  width: 80px;
  height: 3px;
  background: orange;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section_title p {
  margin: 20px auto;
  width: 70%;
}

.about_area .about {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  margin: 60px 0;
}
.about_area .about .about_text h4 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.about_area .about .about_text p {
  margin: 20px 0;
}
.about_area .about .about_image {
  box-shadow: 15px 15px 0px 0px orange;
}
.about_area .about .about_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_area .about_bottom_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.about_area .about_bottom_wrapper .single_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.about_area .about_bottom_wrapper .single_bottom i {
  font-size: 30px;
  color: #333;
}
.about_area .about_bottom_wrapper .single_bottom h4 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 600;
}
.about_area .about_bottom_wrapper .single_bottom a {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.features_area {
  background-color: lightgray;
  position: relative;
}
.features_area::after {
  content: "";
  width: 48%;
  height: 100%;
  background-image: url("../../assets/img/features/feature-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.features_area::before {
  content: "";
  width: 48%;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.features_area .features .section_title P {
  width: 100%;
}
.features_area .features_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.features_area .features_content_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
}
.features_area .features_content_box .single_feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features_area .features_content_box .single_feature i {
  font-size: 30px;
}
.features_area .features_content_box .single_feature h4 {
  text-transform: capitalize;
  font-size: 25px;
}

.services_area .services_box {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.services_area .single_service {
  box-shadow: 0px 0px 10px -2px lightgray;
  padding: 40px 10px;
  border-radius: 5px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services_area .single_service:hover {
  border-bottom: 3px solid orange;
}
.services_area .single_service i {
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  align-self: center;
}

.process_area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  color: #fff;
}
.process_area::before {
  content: "";
  display: table;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.process_area .process_box {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.process_area .process_box h4 {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.process_area .process_box h4 span {
  position: absolute;
  right: 0;
  background: coral;
  display: flex;
  height: 100%;
  width: 48px;
  text-align: center;
  top: 0;
  justify-content: center;
  align-items: center;
}

.projects_area .projects_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.projects_area .projects_box .single_project {
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.projects_area .projects_box .single_project:hover .project_content {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.projects_area .projects_box .single_project .project_content {
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projects_area .projects_box .single_project .project_content::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.projects_area .projects_box .single_project .project_content i {
  font-size: 30px;
}
.projects_area .projects_box .single_project .project_content h4 {
  font-size: 30px;
  text-transform: capitalize;
}
.projects_area .projects_box .single_project .project_content h4 span {
  font-size: 16px;
  display: block;
  text-transform: lowercase;
}

.counter_area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.counter_area::before {
  content: "";
  display: table;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.counter_area .counter_box {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.counter_area .counter_box .single_counter {
  text-align: center;
}
.counter_area .counter_box .single_counter i {
  font-size: 30px;
}
.counter_area .counter_box .single_counter h4 {
  font-size: 20px;
  text-transform: capitalize;
}
.counter_area .counter_box .single_counter h4 span {
  font-size: 50px;
  display: block;
  margin: 20px 0;
  font-weight: 700;
}

.team_area .team_box {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.team_area .team_box .single_team {
  height: 350px;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.team_area .team_box .single_team:hover .team_content {
  bottom: 0;
}
.team_area .team_box .single_team .team_content {
  position: absolute;
  bottom: -132px;
  width: 100%;
  background: #333;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  transition: 0.3s;
}
.team_area .team_box .single_team .team_content h4 {
  font-size: 30px;
  text-transform: capitalize;
}
.team_area .team_box .single_team .team_content h4 span {
  font-size: 16px;
  display: block;
  margin: 5px 0;
  text-transform: lowercase;
}
.team_area .team_box .single_team .team_content a {
  font-size: 15px;
  display: inline-block;
  margin: 0 8px;
  transition: 0.3s;
}
.team_area .team_box .single_team .team_content a:hover {
  color: orange;
}/*# sourceMappingURL=style.css.map */