.subscribe_area {
  @include overlay;
  color: #fff;

  .subscribe_box {
    margin-top: 60px;
    form {
      width: 60%;
      margin: 0 auto;
      position: relative;

      input {
        width: 100%;
        padding: 12px 20px;
        border-radius: 30px;
        outline: none;
        border: none;
      }
      input[type="submit"] {
        width: auto;
        position: absolute;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        background: orange;
        right: 0;
        top: -1px;
        cursor: pointer;
        padding: 10px 40px;
      }
    }
  }
}
