.testimonials_area {
  @include overlay;
  color: #fff;

  .testimonials_box {
    margin-top: 60px;

    .single_testimonial {
      border: 1px solid lightgray;
      padding: 30px 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0 15px;

      i {
        font-size: 60px;
        line-height: 0.5;
      }

      .user_box {
        display: flex;
        gap: 9px;
        align-items: center;
        justify-content: center;

        h4 {
          font-size: 20px;
          text-transform: capitalize;
          text-align: left;
          line-height: 1.5;

          span {
            font-size: 14px;
            display: block;
            text-transform: lowercase;
          }
        }

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      outline: none;

      &.slick-prev {
        left: -50px;
      }
      &.slick-next {
        right: -50px;
      }
      i {
        background: orange;
        color: #fff;
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
      }
    }
    .slick-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        display: inline-block;
        margin: 0 5px;
        &.slick-active {
          button {
            background: orange;
          }
        }

        button {
          border: none;
          outline: none;
          width: 10px;
          height: 10px;
          display: inline-block;
          font-size: 0;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
